.home__slider {
    position: relative;
    overflow: hidden;
  }
  
  .home__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; 
  }
  
  .home__slide:first-child {
    display: block; 
  }
  .about__img{
    height: 35%;
    border-radius: 50px;
    box-shadow: 5px 0 5px 2px red;

  }
  .blog__post-img, .news___img{
    height: 20%;
    width: 40%;
  }
  .ifram{
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }
  .span-follow{
    display: flex;
    align-items: center;

  }
  .div-follow{
    /* border: 2px solid; */
    border-radius: 5px;
    width: 120px;
    box-shadow: 0 0 5px gray;
    
  }
  .a11:hover{
    background-color: greenyellow;
    border: black;
    
  }
  .a12:hover{
    background-color: greenyellow;
    border: black;
    
  }
  .a13:hover{
    background-color: greenyellow;
    border: black;
    
  }
  .a14:hover{
    background-color: greenyellow;
    border: black;
    
  }
  .a11{
    border: blue 2px solid;

  }
  .a12{
    border: red 2px solid;
    margin-left: 10px;
  }
  .a13{
    border: blue 2px solid;
    margin-left: 10px;
  }
  .a14{
    border: red 2px solid;
    margin-left: 10px;
  }

  